$delay-75: 75ms !default;
$delay-100: 100ms !default;
$delay-150: 150ms !default;
$delay-200: 200ms !default;
$delay-300: 300ms !default;
$delay-500: 500ms !default;
$delay-700: 700ms !default;
$delay-1000: 1000ms !default;
