$decoration-auto: auto !default;
$decoration-from-font: from-font !default;
$decoration-0: 0 !default;
$decoration-1: 1px !default;
$decoration-2: 2px !default;
$decoration-4: 4px !default;
$decoration-8: 8px !default;
