$underline-offset-auto: auto !default;
$underline-offset-0: 0 !default;
$underline-offset-1: 1px !default;
$underline-offset-2: 2px !default;
$underline-offset-4: 4px !default;
$underline-offset-8: 8px !default;
