$decoration-inherit: inherit !default;
$decoration-current: currentcolor !default;
$decoration-transparent: transparent !default;
$decoration-black: black !default;
$decoration-white: white !default;
