$duration-75: 75ms !default;
$duration-100: 100ms !default;
$duration-150: 150ms !default;
$duration-200: 200ms !default;
$duration-300: 300ms !default;
$duration-500: 500ms !default;
$duration-700: 700ms !default;
$duration-1000: 1000ms !default;
