@mixin text-inherit {
  color: inherit;
}

@mixin text-current {
  color: currentcolor;
}

@mixin text-transparent {
  color: transparent;
}

@mixin text-black {
  color: black;
}

@mixin text-white {
  color: white;
}
