$cursor-auto: auto !default;
$cursor-default: default !default;
$cursor-pointer: pointer !default;
$cursor-wait: wait !default;
$cursor-text: text !default;
$cursor-move: move !default;
$cursor-help: help !default;
$cursor-not-allowed: not-allowed !default;
$cursor-none: none !default;
$cursor-context-menu: context-menu !default;
$cursor-progress: progress !default;
$cursor-cell: cell !default;
$cursor-crosshair: crosshair !default;
$cursor-vertical-text: vertical-text !default;
$cursor-alias: alias !default;
$cursor-copy: copy !default;
$cursor-no-drop: no-drop !default;
$cursor-grab: grab !default;
$cursor-grabbing: grabbing !default;
$cursor-all-scroll: all-scroll !default;
$cursor-col-resize: col-resize !default;
$cursor-row-resize: row-resize !default;
$cursor-n-resize: n-resize !default;
$cursor-e-resize: e-resize !default;
$cursor-s-resize: s-resize !default;
$cursor-w-resize: w-resize !default;
$cursor-ne-resize: ne-resize !default;
$cursor-nw-resize: nw-resize !default;
$cursor-se-resize: se-resize !default;
$cursor-sw-resize: sw-resize !default;
$cursor-ew-resize: ew-resize !default;
$cursor-ns-resize: ns-resize !default;
$cursor-nesw-resize: nesw-resize !default;
$cursor-nwse-resize: nwse-resize !default;
$cursor-zoom-in: zoom-in !default;
$cursor-zoom-out: zoom-out !default;
